* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Poppins, sans-serif;
}

.login-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/2.jpg');
    background-size: cover;
    .center-container {
        width: 20vw;
        height: 50vh;
        margin-top: 78px;
        .header {
            text-align: center;
            margin-top: 10px;
            color: white;
            font-size: 40px;
            text-shadow: 2px 2px #000;
            font-weight: bold;
        }
        .login-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            .input-wrapper {
                margin-bottom: 10px;
                height: 24px;
                width: 290px;
                font-size: 10px;
                border: 3px solid #fff;             
                box-shadow: 2px 2px #000;   
                border-radius: 7px;
            }
        }
        .forgot-password {
            p{
                font-size: 15px;
                color: rgba(255, 255, 255, 0.904);
                font-weight: 400;
                text-shadow: 0.5px 1.5px #000;
                position: relative;
                left: 5px;
            }
        }

        .login-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 40px;

            .btn-login {
                border: none;
                padding: 8px 25px;
                background-color: yellow;
                border-radius: 10px;
                color: #000;
                font-weight: bold;
                font-size: 19px;
                cursor: pointer;   
                text-align: center;            
            }
        }
        .sign-up {
            color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-shadow: 0.5px 1.5px #000;
            margin-top: 5px;
            cursor: pointer;
        }
    }

}