.register-container{
  background: url(../img/1.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}
.register-container .aside-right{
  height: 100vh;
  background-color: #fff;
  width: 30%;
}
.register-container .aside-right .header{
  font-size: 40px;
  color: #333;
  text-align: center;
  margin-top: 50px;
}
.register-container  .input-name{
  display: flex;
  justify-content: space-between;
}
.register-container .input-name .input-wrapper{
  width: 45%;
}
#register-form{
  padding: 20px;
}

.form-action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-action #redirect-to-login {
  border: none;
  background-color: transparent;
  font-family: Poppins, sans-serif;
  position: relative;
  left: 10px;
  font-size: 15px;
  cursor: pointer;
}